<ag-grid-angular
  class="ag-theme-alpine-dark"
  rowModelType="serverSide"
  treeData="true"
  serverSideStoreType="partial"
  cacheBlockSize="3"
  enableCellChangeFlash="true"
  [getRowNodeId]="getRowNodeId"
  [getServerSideStoreParams]="getServerSideStoreParams"
  [serverSideDatasource]="datasource"
  (gridReady)="gridReady($event)"
  [isServerSideGroup]="isServerSideGroup"
  [getServerSideGroupKey]="getServerSideGroupKey"
  [autoGroupColumnDef]="autoGroupColumnDef">
  <ag-grid-column headerName="Total Files" field="numberOfFiles" resizable="true"></ag-grid-column>
  <ag-grid-column headerName="Total Files" field="numberOfFiles" resizable="true"></ag-grid-column>
</ag-grid-angular>
