<ag-grid-angular
  class="ag-theme-alpine-dark"
  rowModelType="serverSide"
  suppressHorizontalScroll="true"
  serverSideStoreType="partial"
  cacheBlockSize="5"
  maxBlocksInCache="2"
  blockLoadDebounceMillis="500"
  (modelUpdated)="modelUpdated($event)"
  [serverSideDatasource]="datasource"
  [statusBar]="statusBar"
  (gridReady)="gridReady($event)">
  <ag-grid-column headerName="Make" field="make"></ag-grid-column>
  <ag-grid-column headerName="Model" field="model"></ag-grid-column>
  <ag-grid-column headerName="Price" field="price"></ag-grid-column>
</ag-grid-angular>
